package {{ .Name }}

// Create your own model, add json decorators if you want to serve it as response,
// add anotations for the database like gorm if you want to migrate it.
// BURROW uses https://github.com/jinzhu/gorm ORM
