package {{ .Name }}

import (
	"fmt"
	"log"
	"net/http"
)

var (
	port = "8080"
	host = "localhost"
)

// App is where all routes and middleware for buffalo
// should be defined. This is the nerve center of your
// application.
func App() {
	r := urlPatterns()
	// Matches a dynamic subdomain.
	//r.Host("{subdomain:[a-z]+}.domain.com")
	// Only matches if domain is "www.example.com".
	r.Host(host)
	//Headers
	r.Headers("X-Requested-With", "XMLHttpRequest")
	r.Headers("Content-Type", "application/(text|json)")
	//Middleware
	r.Use(middlewares)

	log.Fatal(
		http.ListenAndServe(
			fmt.Sprintf("%v:%v", host, port),
			r,
		),
	)
}
